body {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	box-sizing: border-box;
}

.stop-scroll {
	overflow: hidden;
}

li {
	list-style: none;
}

a:hover, a:visited, a {
	text-decoration: none;
}

h4 {
	font-size: 14px;
	color: #008ed6;
	text-transform: uppercase;
	font-weight: 700;
}

h2 {
	font-size: 36px;
	color: #1a1a1a;
	font-weight: 500;
	margin-bottom: 25px;
	margin-top: 0;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
	outline: none;
	border: none;
	background: transparent;
}

.container {
	max-width: 1700px !important;
	margin: 0 auto;

}

/*header area*/
.top-header {
	background: #000;
	width: 100%;
	z-index: 999;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}

.top-header img.logo {
	margin-top: 0;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}

.navbar-default {
	background-color: transparent;
	border-color: transparent;
	margin-bottom: 0;

}

.header__top {
	background: rgba(0, 0, 0, 0.35);
	margin-bottom: 75px;
}

.navbar__logo {
	padding: 25px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 160px;
	height: 60px;
}

.header__logo {
	width: 100%;
}

.container-header {
	padding: 50px 0px 0px 64px;
}



.nav-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
}

.navbar-toggle span {
	color: #fff;
}

ul.nav {
	margin: 0;
	padding: 0;
}

.navbar-default .navbar-nav>li>a {
	font-size: 16px;
	color: #fff;
	text-transform: capitalize;
	transition: all .7s ease 0s;
	-webkit-transition: all .7s ease 0s;
	-moz-transition: all .7s ease 0s;
	-o-transition: all .7s ease 0s;
	-ms-transition: all .7s ease 0s;
	padding: 8px 0;
	margin: 0 15px;
	font-weight: 500;
}



/* BUrger  */

.navbar__burger {
	display: none;
	position: relative;
	width: 40px;
	height: 40px;
}

.burger__line {
	position: absolute;
	left: 50%;
	width: 20px;
	height: 2px;
	transform: translateX(-50%);
	background-color: #fff;
}

.burger__line:first-child {
	top: 13px;
}

.burger__line:nth-child(2) {
	top: 50%;
	transform: translate(-50%, -50%)
}

.burger__line:last-child {
	bottom: 13px;
}


/*banner area*/
.banner {
	height: 100vh;
	background-repeat: no-repeat;
	background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.9) 100%), url(../img/materials/photo4.jpg);
	background-position: center;
	overflow: hidden;
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}

.banner h3 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 14px;
	color: #008ed6;
	text-transform: uppercase;
	font-weight: 700;
}

.banner h1 {
	font-size: 48px;
	color: #fff;
	margin-top: 0;
	margin-bottom: 30px;
}

.banner p {
	font-size: 18px;
	color: #C1BEB9;
	line-height: 2;
	font-weight: 500;
}

.header__bottom {
	display: flex;
	justify-content: space-between;
}

.header__bottom-descr {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/* SLIDER */

.events {
	position: relative;
	margin-bottom: 50px;
	padding: 75px 20px;
}

.events-container {
	max-width: 1170px !important;
	margin: 0 auto;
}

.events__headliner {
	position: relative;
	margin-bottom: 20px;
	font-size: 54px;
	line-height: 56px;
	font-weight: 500;
	color: #333;
	text-align: center;
	margin-bottom: 100px;
}

.events__headliner::after {
	content: '';
	display: block;
	width: 2px;
	height: 55px;
	background-color: #008ed6;
	position: absolute;
	left: 50%;
	top: 122%;
	transform: translateX(-50%);
}

.events__descr {
	text-align: center;
	margin: 0 auto;
	max-width: 75%;
	font-size: 19px;
	margin-bottom: 60px;
}


.events-swiper .swiper-wrapper {
	margin-bottom: 26px;
}

.ev-btn {
	position: absolute;
	-webkit-transition: .3s opacity ease-in-out, .4s ease-in-out;
	transition: .3s opacity ease-in-out, .4s ease-in-out;
	z-index: 100;
}

.ev-btn svg {
	-webkit-transition: .3s transform ease-in-out;
	transition: .3s transform ease-in-out;
}

.events__wrap {
	position: relative;
}

.events__prev {
	top: 48%;
	left: -2%;
	transform: translateY(-50%);

}

.events__prev[disabled] {
	cursor: auto;
	opacity: 0;
	-webkit-transform: translateX(-50px);
	transform: translateX(-50px);
}

.events__next {
	top: 48%;
	right: -2%;
	transform: translateY(-50%);
}

.events__next[disabled] {
	cursor: auto;
	opacity: 0;
	-webkit-transform: translateX(50px);
	transform: translateX(50px);
	display: none;
}

.events-swiper-slide {
	position: relative;
	cursor: auto;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	transition: transform .2s
}

.events-swiper-slide:before {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 1px;
	border: 1px solid #CACACA;
	z-index: -3;
}

.events-swiper__picture {
	z-index: 3;
}

.events-swiper__img {
	width: 100%;
	height: 220px;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.photo__area1 {
	background-image: url("../img/materials/photo21.jpg");
}

.photo__area2 {
	background-image: url("../img/materials/photo22-origin.jpg");
}

.photo__area3 {
	background-image: url("../img/materials/photo24.jpg");
}

.photo__area4 {
	background-image: url("../img/materials/photo4.jpg");
}

.photo__area5 {
	background-image: url("../img/materials/photo5.jpg");
}

.photo__area6 {
	background-image: url("../img/materials/photo6.jpg");
}

.photo__area7 {
	background-image: url("../img/materials/photo10.jpg");
}

.photo__area8 {
	background-image: url("../img/materials/photo16.jpg");
}

.photo__area9 {
	background-image: url("../img/materials/photo17.jpg");
}

.photo__area10 {
	background-image: url("../img/materials/photo2.jpg");
}

.photo__area11 {
	background-image: url("../img/materials/photo3.jpg");
}

.photo__area12 {
	background-image: url("../img/materials/photo25.jpg");
}

.photo__area13 {
	background-image: url("../img/materials/photo26.jpg");
}

.photo__area14 {
	background-image: url("../img/materials/photo27.jpg");
}

.photo__area15 {
	background-image: url("../img/materials/photo28.jpg");
}

.photo__area16 {
	background-image: url("../img/materials/photo29.jpg");
}

.events-swiper__img::after {
	content: "";
	position: absolute;
	top: 20px;
	bottom: 20px;
	right: 20px;
	left: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	background-image: url("../img/+.svg");
	background-size: 30%;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	transition: opacity .4s ease-in-out;

}

.events-swiper__img:hover::after {
	opacity: 1;
	z-index: 5;
	cursor: pointer;
}


.events-swiper__text {
	padding: 20px;
}

.events__descr-time {
	margin-bottom: 12px;
	text-align: center;
	font-size: 20px;
	line-height: 16px;
	color: #000;
}

.events__headline {
	margin-bottom: 8px;
	text-align: left;
	font-size: 24px;
	line-height: 33px;
	font-weight: 500;
	color: #333;
}

.events__text {
	text-align: left;
	font-size: 16px;
	line-height: 32px;
	color: #333;
}

.events__link-more {
	position: relative;
	width: 90px;
	left: 49px;
	bottom: 45px;
	font-size: 16px;
	line-height: 23px;
	color: #9D5CD0;
	border-bottom: 1px solid var(--violet-focus);
	outline: none;
	-webkit-transition: .3s border-color ease-in-out, .3s color ease-in-out;
	transition: .3s border-color ease-in-out, .3s color ease-in-out;
	z-index: 2;
}

.events__link-more:after {
	content: "";
	position: absolute;
	top: -3px;
	bottom: -3px;
	right: -2px;
	left: -2px;
	background-color: #7943A4;
	opacity: 0;
	-webkit-transition: .3s opacity ease-in-out;
	transition: .3s opacity ease-in-out;
	z-index: -1;
}

/* MODAL  */
.modal {
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 110;
}

.modal-img {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-width: 80%;
	max-height: 80%;
}


.close-btn {
	position: absolute;
	top: 10%;
	right: 10%;
	cursor: pointer;
}

.close-btn::before,
.close-btn::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 21px;
	background-color: #fff;
}

.close-btn::before {
	transform: translate(-50%, -50%) rotate(45deg);
}

.close-btn::after {
	transform: translate(-50%, -50%) rotate(-45deg);
}


/*details area*/
.details {
	padding: 125px 0;
	background: #ededed;
}


.details-row {
	display: flex;
	align-items: center;
}

.details p {
	font-size: 18px;
	margin: 30px 0;
}

.details ul {
	margin: 0;
	padding: 0;
}

.details ul li {
	color: #1b1b1b;
}

.details ul li i.fa {
	font-size: 20px;
	color: #008ed6;
	height: 30px;
	width: 30px;
	text-align: center;
}

.details-img {
	border-radius: 5px;
	box-shadow: 7px 10px 20px;
}

.details__adv {
	font-size: 15px;
	font-style: italic;
}



/*feature-detail area*/
.feature-detail {
	padding: 50px 0;
	background: #f2f2f2;
}

.representative_vid {
	width: 100%;
	height: auto;
	border-radius: 12px;
}


.feature-detail h2 {
	margin-bottom: 10px;
}


.feature-container {
	display: flex;
	align-items: center;
}

.feature__headline {
	font-size: 22px;
	position: relative;
	padding-left: 24px;

}

.feature__headline::before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
	height: 15px;
	background-image: url('../img/check.svg');
	background-size: cover;

}

.feature-descr {
	margin-bottom: 40px;
}


/*pricing-slide area*/
.pricing-slide {
	background: url(../img/paralax.jpg);
	background-repeat: no-repeat;
	background-position: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

.pricing-slide h2 {
	margin-bottom: 10px;
	color: #fff;
}

.pricing-slide p {
	font-size: 24px;
	color: #fff;
	font-style: italic;
	font-weight: 400;
	margin-top: 60px;
	margin-bottom: 25px;
}

.item img {
	float: left;
	margin-right: 20px;
	margin-bottom: 200px;
}

.item h5 {
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

.item h6 {
	font-size: 16px;
	color: #fff;
	padding-top: 12px;
}

/*price-plan area*/
.price-plan img {
	margin: auto;
	margin-bottom: 70px;
}

.single-table {
	border: 1px solid #e0e0e0;
	margin-bottom: 60px;
}

.single-table h3 {
	font-size: 24px;
	color: #1a1a1a;
	border-bottom: 1px solid #e0e0e0;
	padding: 18px;
	line-height: 1;
	margin-top: 0;
	text-transform: uppercase;
	margin-bottom: 0;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
}

.table-price {
	position: relative;
	border-bottom: 1px solid #e0e0e0;
	display: block;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
}

.table-price h5 {
	font-size: 60px;
	font-weight: 500;
	color: #1a1a1a;
	line-height: 1;
	margin-bottom: 0;
	margin-top: 0;
	padding-top: 17px;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
}

.table-price h5 span {
	position: absolute;
	font-size: 25px;
	top: 21%;
	left: 34%;
	font-weight: 500;
}

.table-price p {
	font-size: 18px;
	color: #999999;
	line-height: 1;
	margin-bottom: 22px;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
}

.table-description p {
	font-size: 18px;
	color: #999999;
	padding: 40px 20px;
	margin-bottom: 0;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
}

.table-description a {
	color: #008ed6;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
}

.table-description button {
	width: 160px;
	height: 50px;
	border: 1px solid #e0e0e0;
	color: #008ed6;
	border-radius: 4px;
	background: transparent;
	margin-bottom: 30px;
	font-weight: 700;
	transition: all .5s ease 0s;
	-webkit-transition: all .5s ease 0s;
	-moz-transition: all .5s ease 0s;
	-o-transition: all .5s ease 0s;
	-ms-transition: all .5s ease 0s;
}

.free h5 span {
	left: 39%;
}

.business h3 {
	color: #008ed6;
}

.business-price {
	background: #008ed6;
}

.business-price p {
	color: #fff;
}

.business button {
	background: #008ed6;
	color: #fff;
	border: 0;
}

.business h5 {
	color: #fff;
}

.single-table:hover.single-table h3 {
	color: #008ed6;
}

.single-table:hover .table-description button {
	background: #008ed6;
	color: #fff;
	border: 0;
}

.single-table:hover .table-price h5 {
	color: #fff;
}

.single-table:hover .table-price p {
	color: #fff;
}

.single-table:hover .table-price {
	background: #008ed6;
}

/*contact area*/
.contact {
	background: #ededed;
	position: relative;
}

.contact-heading img {
	margin: auto;
	margin-bottom: 30px;
}

.contact i.fa {
	color: #008ed6;
	font-size: 20px;
	padding: 20px;
}


.contact-form {
	background: #15141a;
	overflow: hidden;
	z-index: 222;
	position: absolute;
	margin-top: 50px;
}

.contact-form-left, .contact-form-right {
	margin-top: 60px;
}

.contact-form-left input {
	width: 100%;
	height: 50px;
	padding: 12px;
	border-radius: 5px;
	border: 1px solid #444348;
	margin-bottom: 20px;
	background: transparent;
	color: #fff;
}

.contact-form textarea {
	width: 100%;
	height: 189px;
	border-radius: 5px;
	border: 1px solid #444348;
	margin-bottom: 15px;
	background: transparent;
	padding: 12px;
	color: #fff;
}

.contact-form-right input {
	width: 160px;
	height: 50px;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	background: #008ed6;
	border-radius: 5px;
	border: 0;
	margin-bottom: 40px;
}


/* footer section */

.footer {
	padding: 15px 0;
	background-color: #282c2f;
	text-align: center;
}

.footer__caption {
	margin-bottom: 40px;
	color: #dadada;
	position: relative;
}

.footer__caption::after {
	content: '';
	display: block;
	width: 80%;
	height: 1px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: -45%;
}

.footer__wrapper {
	color: #dadada;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer__left, .footer__right {
	font-size: 19px;
	flex-basis: 49%;
}

.contact-address, .contact-mobile, .contact-email {
	display: flex;
	align-items: center;
	padding: 15px 0;
	position: relative;
}

.contact-address::before {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../img/footer/location.svg');
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 40px;
	left: 0;
	top: 0;
}

.contact-address span {
	font-weight: 700;
}

.contact-mobile, .contact-email {
	font-weight: 700;
}

.contact-mobile::before {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../img/footer/telephone.svg');
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 40px;
	left: 0;
	top: 0;
}


.contact-email::before {
	content: '';
	display: block;
	width: 30px;
	height: 30px;
	background-image: url('../img/footer/gmail.svg');
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 40px;
	left: 0;
	top: 0;
}

.ending {
	background-color: #000;
	color: #fff;
	text-align: center;
	padding: 20px 0;
}

.ending span {
	font-weight: 700;
	font-style: italic;
}

@media(min-width: 991px) {

	.navbar-nav>li>a::after {
		content: "";
		display: block;
		margin: auto;
		height: 1px;
		width: 0;
		top: 5px;
		background: transparent;
		transition: all 0.3s;
	}

	.navbar-nav>li>a:hover:after {
		background: whitesmoke;
		width: 100%;
	}

	.navbar__links:hover, .navbar-default .navbar-nav>li>a:focus {
		color: #fff;
	}

}

/* sm */
@media(max-width: 991px) {
	.banner h3 {
		font-size: 13px;
	}

	.banner h1 {
		font-size: 30px;
	}

	.banner p {
		font-size: 15px;
		color: #dfdfdf;
	}

	.pricing-slide p {
		font-size: 20px;
	}

	.details-row {
		flex-direction: column;
	}

	.feature-container {
		flex-direction: column;
	}

	.details {
		padding: 61px 0;
	}

	.events {
		padding: 20px 20px;
	}

	.container-header {
		padding: 0 50px;
	}

	.header__bottom {
		flex-direction: column;
		text-align: center;
	}

	.header__top {
		margin-bottom: 20px;
	}

	.banner-img {
		display: flex;
		justify-content: center;
	}

	.details-imgblock {
		margin-bottom: 70px;
	}
}

/* xs */
@media(max-width: 767px) {

	/* Burger */

	.navbar__burger {
		display: block;
		z-index: 20;
	}

	.navbar__menu {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		min-width: 250px;
		height: 100vh;
		z-index: 10;
		padding: 50px;
		box-shadow: 0 0 5px #888;
		background-color: rgba(0, 0, 0, 0.8);
		overflow-y: auto;
		visibility: hidden;
		transform: translateX(120%);
		transition: visibility .3s ease-in-out, transform .3s ease-in-out;
	}

	.navbar__menu--active {
		visibility: visible;
		transform: none;
	}

	.burger--active .burger__line:nth-child(2) {
		opacity: 0;
	}

	.burger--active .burger__line:first-child {
		left: 25%;
		top: 50%;
		transform: rotate(45deg);
		transform-origin: center;
		transition: transform .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
	}

	.burger--active .burger__line:last-child {
		bottom: auto;
		left: 25%;
		top: 50%;
		transform: rotate(-45deg);
		transform-origin: center;
		transition: transform .3s ease-in-out, top .3s ease-in-out, left .3s ease-in-out;
	}

	.navbar-default .navbar-nav>li>a {
		text-align: center;
		font-size: 32px;
		padding: 50px 0;
	}

	.banner {
		background-attachment: unset;
	}

	.banner__container {
		padding: 0;
	}

	.banner h3 {
		font-size: 11px;
	}

	.banner h1 {
		font-size: 25px;
	}

	.banner p {
		font-size: 14px;
		margin-top: 17px;
	}

	h2 {
		font-size: 25px;
		margin-bottom: 20px;
	}


	h4 {
		font-size: 12px;
		margin-top: 40px;
	}

	.details p {
		font-size: 14px;
		margin: 20px 0;
	}

	.details ul li {
		font-size: 14px;
	}

	.feature-detail h4 {
		margin-top: 50px;
	}

	.feature-detail p {
		font-size: 13px;
		margin-top: 10px;
	}

	.pricing-slide p {
		font-size: 16px;
		margin-top: 35px;
		margin-bottom: 20px;
	}

	.item h6 {
		font-size: 13px;
	}

	.item h5 {
		font-size: 12px;
	}

	.item img {
		margin-bottom: 95px;
	}

	.contact p {
		font-size: 14px;
	}

	.contact-heading img {
		margin-bottom: 25px;
	}

	.events__next {
		top: 50%;
		right: -2%;
	}

	.events__prev {
		top: 50%;
		left: -4%;
	}

	.events-swiper__img::after {
		opacity: 1;
	}

	.footer__wrapper {
		flex-direction: column-reverse;
	}
}




/* XS Portrait */
@media (max-width: 479px) {
	.banner h3 {
		font-size: 11px;
	}

	.events-swiper__img::after {
		opacity: 1;
	}

	.banner {
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url(../img/materials/photo4.jpg);
		background-size: cover;
		background-attachment: scroll;
		background-repeat: no-repeat;
		background-position: 10% center;
	}

	.details-row {
		flex-direction: column;
	}

	.details-imgblock {
		margin-bottom: 20px;
	}

	.events {
		padding: 17px 20px;
	}

	.events__next {
		top: 50%;
		right: -5%;
	}

	.events__prev {
		top: 50%;
		left: -4%;
	}

	.close-btn {
		top: 35%;
		right: 10%;
	}

	.feature-container {
		flex-direction: column;
	}

	.feature-descr {
		align-items: center;

	}

	.details {
		padding: 40px 0 35px;
	}

	.container-header {
		padding: 0;
	}

	.header__bottom {
		flex-direction: column;
		align-items: center;
	}

	.header__bottom-descr {
		text-align: center;
	}

	.banner h1 {
	    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
	}

	.banner p {
		padding: 0 35px;
		font-size: 15px;
		margin-top: 4px;
		line-height: 1.6;
	}

	h4 {
		font-size: 10px;
		font-weight: 500;
	}

	h2 {
		font-size: 25px;
		margin-bottom: 15px;
	}

	.events__descr {
		max-width: 100%;
		font-size: 15px;
	}

	.details p {
		font-size: 14px;
		margin: 8px 0;
	}

	.details ul li {
		font-size: 9px;
	}

	.details ul li i.fa {
		font-size: 16px;
		height: 20px;
		width: 20px;
	}

	.feature-detail p {
		font-size: 12px;
		margin-top: 10px;
	}

	.pricing-slide p {
		font-size: 14px;
		margin-top: 25px;
		margin-bottom: 15px;
	}

	.item h5 {
		font-size: 10px;
	}

	.item h6 {
		font-size: 12px;
	}

	.item img {
		margin-right: 10px;
		margin-bottom: 21px;
	}

	.price-plan img {
		margin-bottom: 25px;
	}

	.contact-heading img {
		margin-bottom: 5px;
	}

	.contact p {
		font-size: 10px;
	}

	.contact-form {
		margin-top: 10px;
	}

	.events-swiper__img {
		height: auto;
		min-height: 186px;
	}

}
